logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
conf/personal.conf
scripts
# For Sapsan development (see this code in https://github.com/RumataEstorsky/SapsanAdmin)
app/controllers/sa
app/sapsan
app/views/sapsan
conf/sa.routes
