<section class="general-slider" id="general-clider">
    <ul class="slides-list">
        <li>
            <img src="@routes.Assets.at("images/temp/1.jpg")" alt="Image"/>
        </li>
        <li>
            <img src="@routes.Assets.at("images/temp/2.jpg")" alt="Image"/>
        </li>
        <li>
            <img src="@routes.Assets.at("images/temp/3.jpg")" alt="Image"/>
        </li>
        <li>
            <img src="@routes.Assets.at("images/temp/4.jpg")" alt="Image"/>
        </li>
    </ul>
</section>