@(model: _root_.sapsan.schema.Model = null)(implicit messages: Messages)
<div class="well nav">
    <ul class="nav nav-list">
        <li class="nav-header">@Messages("admin.skeleton.navigation")</li>
        @for((name, title) <- controllers.sa.AdminController.navigation) {
            <li class="@Html("active".when(model != null && model.toCNotation == name))" data-model="@name">
                <a class=" " href="@controllers.sa.routes.AdminController.list(name)">@title</a>
            </li>
        }
    </ul>
</div>
