
@(title: String, products: List[Product])
@main(title = title) {
    <content>

        @elements.breadcrumbs(title)
        <section class="catalog-list">
            <ul>
            @for(product <- products.iterator()) {
                <li>
                    <h3>@product.name</h3>
                    <div class="img-wrapper">
                        <a href="#">
                            <img src="@routes.Assets.at("images/temp/6.jpg")" alt="Image"/>
                        </a>
                    </div>
                    <div class="features">
                        <p class="float-right"><b>@product.articul</b></p>
                        <p>@product.category.name</p>
                        <ul class="colors">
                            <li>
                                <a href="#" style="background: red"></a>
                            </li>
                            <li>
                                <a href="#" style="background: orange"></a>
                            </li>
                            <li>
                                <a href="#" style="background: gray"></a>
                            </li>
                            <li>
                                <a href="#" style="background: white" class="border"></a>
                            </li>
                            <li>
                                <a href="#" style="background: violet"></a>
                            </li>
                            <li>
                                <a href="#" style="background: black"></a>
                            </li>
                        </ul>
                    </div>
                </li>
            }
            </ul>
        </section>
    </content>
}
