@(form: Form[Application.Login])

<html>
    <head>
        <title>Zentasks</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    @helper.form(routes.Application.authenticate) {

                    <h1 class="text-center">Авторизация</h1>

                    @if(form.hasGlobalErrors) {
                    <p class="text-danger">
                        @form.globalError.message
                    </p>
                    }

                    @if(flash.contains("success")) {
                    <p class="text-success">
                        @flash.get("success")
                    </p>
                    }

                    <p>
                        <input class="form-control" type="email" name="email" placeholder="Email" value="@form("email").value">
                    </p>
                    <p>
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </p>
                    <p>
                        <button class="btn btn-primary btn-block" type="submit">Вход</button>
                    </p>

                    }

                    <p class="note">
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
    


