@(title: String)(content: Html)
@import utils.StaticNavigation
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")" />

        <meta name="keywords" content=""/>
        <meta name="description" content=""/>

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/styles.compiled.css")" charset="UTF-8"/>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.flexslider-min.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/scripts.js")" charset="UTF-8"></script>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <a href="/" title="На главную" class="log">
                    <img src="@routes.Assets.at("images/log.png")" alt="Pro Sport"/>
                </a>
                <section class="header-phones">
                    <div class="header-phones_inner">
                        +7-342-2-181-904
                        <br/>
                        +7-342-2-125-490
                    </div>
                </section>
            </header>
            <nav>
                <ul>

                    @for(node <- StaticNavigation.get()) {
                        <li>
                            <a href="@node.url" class="@("active".when(StaticNavigation.main.equals(node.title)))">
                                <span class="text-wrapper">
                                    @node.title
                                <span class="border-bottom"></span>
                                </span>
                            </a>
                            @if(node.hasChilds) {
                                <ul>

                                @for(c <- node.nodes) {
                                    <li>
                                        <a href="#">@c.title</a>
                                        @if(c.hasChilds) {
                                            <ul>
                                            @for(cc <- c.nodes) {
                                                <li>
                                                    <a href="#">@cc.title</a>
                                                </li>
                                            }
                                            </ul>
                                        }
                                    </li>
                                }
                                </ul>
                            }
                        </li>
                    }
                    @*<li>*@

                    @*<a href="#">*@
                    @*<span class="text-wrapper">*@
                    @*Прайс-Лист*@
                    @*<span class="border-bottom"></span>*@
                    @*</span>*@
                    @*</a>*@
                    @*<ul>*@
                    @*<li>*@
                    @*<a href="#">Футболки</a>*@
                    @*<ul>*@
                    @*<li>*@
                    @*<a href="#">Дзюдо</a>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">Самбо</a>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">Борьба</a>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">Бокс</a>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">Боксинг</a>*@
                    @*</li>*@
                    @*</ul>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">Длинный рукав</a>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">Костюмы</a>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">Толстовки</a>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">Штаны</a>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">Зимние шапки</a>*@
                    @*</li>*@
                    @*</ul>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">*@
                    @*<span class="text-wrapper">*@
                    @*Каталог*@
                    @*<span class="border-bottom"></span>*@
                    @*</span>*@
                    @*</a>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">*@
                    @*<span class="text-wrapper">*@
                    @*Фотогалерея*@
                    @*<span class="border-bottom"></span>*@
                    @*</span>*@
                    @*</a>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">*@
                    @*<span class="text-wrapper">*@
                    @*Форум*@
                    @*<span class="border-bottom"></span>*@
                    @*</span>*@
                    @*</a>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">*@
                    @*<span class="text-wrapper">*@
                    @*О компании*@
                    @*<span class="border-bottom"></span>*@
                    @*</span>*@
                    @*</a>*@
                    @*</li>*@
                    @*<li>*@
                    @*<a href="#">*@
                    @*<span class="text-wrapper">*@
                    @*Контакты*@
                    @*<span class="border-bottom"></span>*@
                    @*</span>*@
                    @*</a>*@
                    @*</li>*@
                </ul>
            </nav>

            @content

            <footer>
                <div class="log"></div>
                <section class="footer_inner">
                    <p class="align-center">Copyright PRO-SPORT© 2004-2015</p>
                </section>
            </footer>

            <a href="javascript:void(0)" class="button-ontop"></a>
        </div>
    </body>
</html>
