@(title: String)(content: Html)
@import utils.Temporary
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" type="image/x-icon" href="@routes.Assets.at("images/favicon.ico")" />

        <meta name="keywords" content=""/>
        <meta name="description" content=""/>

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/styles.compiled.css")" charset="UTF-8"/>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.flexslider-min.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/scripts.js")" charset="UTF-8"></script>
    </head>
    <body>
        <div class="wrapper">
            <header>
                <a href="/" title="На главную" class="log">
                    <img src="@routes.Assets.at("images/log.png")" alt="Pro Sport"/>
                </a>
                <section class="header-phones">
                    <div class="header-phones_inner">
                        +7-342-2-181-904
                        <br/>
                        +7-342-2-125-490
                    </div>
                </section>
                <section class="reg-section">
                    <div class="reg-section_inner">
                        <a href="#">Регистрация</a>
                        <a href="#" class="orange">Вход</a>
                    </div>
                </section>
            </header>
            <nav>
                <ul>
                @for((title, url) <- Temporary.topSiteMenu) {
                    <li>
                        <a href="@url" class="@("active".when(title == Temporary.topSiteMenuActive))">
                            <span class="text-wrapper">
                                @title
                            <span class="border-bottom"></span>
                            </span>
                        </a>
                    </li>
                }
                </ul>
            </nav>

            @content

            <footer>
                <div class="log"></div>
                <section class="footer_inner">
                    <p class="align-center">Copyright PRO-SPORT© 2004-2015</p>
                </section>
            </footer>

            <a href="javascript:void(0)" class="button-ontop"></a>
        </div>
    </body>
</html>
