@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

        <meta name="keywords" content=""/>
        <meta name="description" content=""/>

        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/styles.compiled.css")" charset="UTF-8"/>

        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.11.2.min.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.flexslider-min.js")" charset="UTF-8"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/scripts.js")" charset="UTF-8"></script>
    </head>
    <body>
        @content
    </body>
</html>
