@(product: Product)
@main(title = "") {
    <content>
    @elements.breadcrumbs(product.category.name)
    <div class="productcard-row">
    	<div class="productcard-row__preview-block">
    		<!--img src="@routes.ExternalAssets.at(product.images.get(0).filename)" alt="Image"/-->
    		<div class="productcard-row__preview-block__current-img">
    			<img src="http://placehold.it/690x550" alt="product image">
    		</div>
    		<div class="productcard-row__preview-block__previews">
    			<div class="productcard-row__preview-block__previews_preview">
    				<img src="http://placehold.it/130x130" alt="product image">	
    			</div>
    			<div class="productcard-row__preview-block__previews_preview">
    				<img src="http://placehold.it/130x130" alt="product image">	
    			</div>
    			<div class="productcard-row__preview-block__previews_preview">
    				<img src="http://placehold.it/130x130" alt="product image">	
    			</div>
    			<div class="productcard-row__preview-block__previews_preview">
    				<img src="http://placehold.it/130x130" alt="product image">	
    			</div>
    			<div class="productcard-row__preview-block__previews_preview">
    				<img src="http://placehold.it/130x130" alt="product image">	
    			</div>
    			<div class="productcard-row__preview-block__previews_preview">
    				<img src="http://placehold.it/130x130" alt="product image">	
    			</div>
    			<div class="productcard-row__preview-block__previews_preview">
    				<img src="http://placehold.it/130x130" alt="product image">	
    			</div>
    			<div class="productcard-row__preview-block__previews_preview">
    				<img src="http://placehold.it/130x130" alt="product image">	
    			</div>
    		</div>
    	</div>
    	<div class="productcard-row__info-block">
    		<h2 class="productcard-row__info-block__name">@product.name <span class="productcard-row__info-block__name__articul">Арт. @product.articul</h2>
    		<p class="productcard-row__info-block__price">$ 100</p>
    		<p class="productcard-row__info-block__about">Striking the perfect balance between rugged and refined, the Flynn Chambray lends itself to casual and stylish settings alike. Striking the perfect balance between rugged and refined, the Flynn Chambray lends itself to casual and stylish settings alike. Striking the perfect balance between rugged and refined, the Flynn Chambray lends itself to casual and stylish settings alike. Striking the perfect balance between rugged and refined, the Flynn Chambray lends itself to casual and stylish settings alike.</p>
    		<div class="productcard-row__info-block__filter">
    			<p class="productcard-row__info-block__filter__title">Цвет:</p>
	    		<ul class="colors">
	            	<li class="active"><a href="#" style="background: red"></a></li>
	                <li><a href="#" style="background: orange"></a></li>
	                <li><a href="#" style="background: gray"></a></li>
	                <li><a href="#" style="background: white" class="border"></a></li>
	                <li><a href="#" style="background: violet"></a></li>
	                <li><a href="#" style="background: black"></a></li>
	            </ul>
	        </div>
	        <div class="productcard-row__info-block__add">
	        	<input type="button" value="Купить">
	        </div>
    	</div>
    </div>
        
    </content>

}